body{
    margin: 0;
}

main{
    background-color: rgb(255,255,255);
    border-top: 10px;
    border-top-style: solid;
    border-top-color: rgb(159,190,59);
    padding-left: 10%;
    padding-right: 10%;
}

#head_container{
    width: 100%;
    height: 250px;

    border-bottom: 6px;
    border-bottom-style: solid;
    border-bottom-color: rgb(204,204,204);
}

#title_logo{
    margin-left: 1%;
    margin-top: 40px;
}

#logo1, #logotext, #title_logo1, #wawonalogo2{
    display: inline-block;
}

#mernokdb{
    
    font-size: 38px;
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    color: rgb(0,96,164);
}
#weblapdomain{
    font-size: 20px;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    color: rgb(204,204,201);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#logo1{
    height: 60px;
    width: 60px;
}

#ESZA{
    float:right;
    margin-top: 0;
    margin-right: 0;

}

#head_subtext{
    margin-left: 1%;;
}
#par1, #par2, #par3{
    display: inline-block;
}

#par1{
    font-weight: bolder;
    color: rgb(0,96,164);
}

#par3{
    color: rgb(172,199,85);
}

#downarrow_1{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 60px;
    height: 60px;
    top: -40px;
    position: relative;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(255,255,255);
}
#udvozoljuk{
    border-bottom: 6px;
    border-bottom-style: solid;
    border-bottom-color: rgb(204,204,204);
}
#loremipsum_1{
    padding-bottom: 60px;
}

#udvh1, #keressenh1, #eredmenyh1, #partnereinkh1{
    text-align: center;
    font-size: 35px;
    color: rgb(0,96,164);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
}


#searchicon_1{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 60px;
    height: 60px;
    top: -40px;
    position: relative;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(255,255,255);
}

.boxed{
    width: 300px;
    margin-left: calc(50% - 150px);
    margin-right: calc(50% - 150px);  
    padding: 10px;
    background-color: rgb(235,235,235);
    padding: 15px;
    margin-bottom: 60px;
}

#loremipsum_2, #checkbox1, #form1{
    color: rgb(0,0,0);

}

#loremipsum_2, #checkbox1 {
    font-weight: 800;
}

.boxed .textbox1, .boxed .textbox2 {
    border-style: solid;
    border-color: rgb(55,55,55);
    background-color: rgb(215,215,215);
    height: 35px;
    float: right;
    
}

.boxed .textbox1{
    width: 95%;
    margin-bottom: 15px;
}
.boxed .textbox2{
    width: 65%;
    margin-bottom: 15px;
}


.boxed .cb1, .cb2, .cb3, .cb4{
    width: 25px;
    height: 25px;
    filter: invert(57%) hue-rotate(18deg) brightness(1.7);
    outline-style: solid;
    outline-width: 3px;
    outline-color: rgb(55,55,55);
    vertical-align: middle;
}

.checkboxes{
    margin-bottom: 20px;
}

#p1, #p2, #p3{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

#form1 .kereses_button{
    
    height: 35px;
    width: 100%;
    background-color: rgb(159,190,59);
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    font-size: 15px;
    border-style: none;
}

#kereses{

    border-bottom: 6px;
    border-bottom-style: solid;
    border-bottom-color: rgb(204,204,204);
}

#infoicon_1{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 60px;
    height: 60px;
    top: -40px;
    position: relative;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(255,255,255);
}

.boxed_2 {
    width: 300px;
    margin-left: calc(50% - 150px);
    margin-right: calc(50% - 150px);  
    padding: 10px;
    background-color: rgb(235,235,235);
    padding: 15px;
    margin-bottom: 60px;
}

.boxed_2 #mernokkft {
    font-size: 24px;
    font-weight: 900;
    color: rgb(0,96,164);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
}

.boxed_2 #teaor_kodok, #felsorolas, #informacio {
    font-weight: 800;
    
}

.boxed_2 #list1, #list2 {
    list-style-type: square;
    
}

ul li::before{
    color: green;
}

#kereses_eredmeny {

        border-bottom: 6px;
        border-bottom-style: solid;
        border-bottom-color: rgb(204,204,204);
}
#infoicon_2{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 60px;
    height: 60px;
    top: -40px;
    position: relative;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(255,255,255);
}

#partnerimgs {
    display: block;
    margin-bottom: 60px;
}

#varosfejlesztes{
    float: left;
    margin-left: 15%
}

#pbkik_logo{
    position: relative;
    margin-left: 17%
}

#ptecimer{
    float:right;
    margin-right: 15%;
}

#tudaspark, #azonosito {
    text-align: center;
    font-size: 17px;
}

#footer{
    height: 180px;
    background-color: rgb(155,155,155);
    padding-left: 10%;
    padding-right: 10%;
}


#title_logo1{
    
}

#logotext_bottom{
    display: inline-block;
}
#wawonalogo2{
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 20px;
}
